@import url("https://fonts.googleapis.com/css?family=Noto+Sans+TC:400,700|Noto+Sans:400,700&display=swap");
@import url("https://fonts.googleapis.com/icon?family=Material+Icons");
.wrapper {
  width: 100%;
  max-width: 1920px;
  margin: 0 auto;
  position: relative;
  font-size: 12px;
  color: #004567;
  text-align: center;
  font-family: 'Noto Sans TC', sans-serif;
}

.wrapper img {
  width: 100%;
  display: block;
}

.wrapper #mobile {
  width: 100%;
  max-width: 1200px;
  position: fixed;
  z-index: 20;
  right: 10px;
}

@media (max-width: 768px) {
  .wrapper #mobile {
    right: 0;
    top: -2px;
  }
}

.wrapper #mobile .toggle {
  display: none;
  width: 40px;
  height: 40px;
  padding: 35px 20px;
  color: #FFF;
  font-weight: bold;
  text-align: center;
}

@media (max-width: 768px) {
  .wrapper #mobile .toggle {
    display: block;
    width: 8vw;
    height: 8vw;
    padding: 4.2%;
  }
}

.wrapper #mobile .wrap {
  width: calc( 100% -  200px);
  height: 80px;
  position: absolute;
  right: 0;
  top: 0;
  background: transparent;
  display: block;
}

@media (max-width: 768px) {
  .wrapper #mobile .wrap {
    width: 100%;
    height: auto;
    right: auto;
    top: 100%;
    left: 0;
    display: none;
    background: rgba(0, 69, 103, 0.9);
    padding-bottom: 20px;
  }
}

.wrapper #mobile .wrap li {
  display: inline-block;
  margin-right: -10px;
}

@media (max-width: 768px) {
  .wrapper #mobile .wrap li {
    display: block;
    margin-right: 0;
  }
}

.wrapper #mobile .wrap li a {
  display: block;
  padding: 10px;
  font-size: 14px;
  line-height: 70px;
  height: 20px;
  color: #ffffff;
  text-align: left;
}

@media (max-width: 1000px) {
  .wrapper #mobile .wrap li a {
    line-height: 20px;
  }
}

@media (max-width: 768px) {
  .wrapper #mobile .wrap li a {
    font-size: 16px;
    line-height: 32px;
  }
}

.wrapper #mobile .wrap li a .icon {
  width: 20px;
  height: 20px;
  display: inline-block;
  vertical-align: middle;
  background-image: url(../img/menu_icon.svg);
  background-repeat: no-repeat;
  background-size: 20px auto;
  margin-right: 5px;
}

.wrapper #mobile .wrap li a .icon.icon1 {
  background-position: 0 0;
}

.wrapper #mobile .wrap li a .icon.icon2 {
  background-position: 0 -20px;
}

.wrapper #mobile .wrap li a .icon.icon3 {
  background-position: 0 -40px;
}

.wrapper #mobile .wrap li a .icon.icon4 {
  background-position: 0 -60px;
}

.wrapper #mobile .wrap li a .icon.icon5 {
  background-position: 0 -80px;
}

.wrapper #mobile .wrap li a .icon.icon6 {
  background-position: 0 -100px;
}

.wrapper #mobile .wrap li a .icon.icon7 {
  background-position: 0 -120px;
}

.wrapper #mobile .wrap li a .icon.icon8 {
  background-position: 0 -140px;
}

.wrapper #mobile .wrap li a .icon.icon9 {
  background-position: 0 -160px;
}

.wrapper #mobile .wrap li a .icon.icon10 {
  background-position: 0 -180px;
}

@media (max-width: 768px) {
  .wrapper #mobile .wrap li a .icon {
    width: 25px;
    height: 25px;
    background-size: 25px auto;
    margin-right: 10px;
  }
  .wrapper #mobile .wrap li a .icon.icon1 {
    background-position: 0 0;
  }
  .wrapper #mobile .wrap li a .icon.icon2 {
    background-position: 0 -25px;
  }
  .wrapper #mobile .wrap li a .icon.icon3 {
    background-position: 0 -50px;
  }
  .wrapper #mobile .wrap li a .icon.icon4 {
    background-position: 0 -75px;
  }
  .wrapper #mobile .wrap li a .icon.icon5 {
    background-position: 0 -100px;
  }
  .wrapper #mobile .wrap li a .icon.icon6 {
    background-position: 0 -125px;
  }
  .wrapper #mobile .wrap li a .icon.icon7 {
    background-position: 0 -150px;
  }
  .wrapper #mobile .wrap li a .icon.icon8 {
    background-position: 0 -175px;
  }
  .wrapper #mobile .wrap li a .icon.icon9 {
    background-position: 0 -200px;
  }
  .wrapper #mobile .wrap li a .icon.icon10 {
    background-position: 0 -225px;
  }
}

.wrapper header {
  width: 100%;
  max-width: 1920px;
  position: -webkit-sticky;
  position: sticky;
  top: 0;
  background: -webkit-gradient(linear, left top, left bottom, from(#0d768c), color-stop(#03061f), to(#0d768c));
  background: linear-gradient(#0d768c, #03061f, #0d768c);
  z-index: 10;
}

.wrapper header .logo .logo__img {
  font-size: 1em;
}

.wrapper header .logo .logo__img img {
  width: auto;
  height: 80px;
}

@media (max-width: 768px) {
  .wrapper header .logo .logo__img img {
    width: auto;
    height: 110px;
    margin: 0 auto;
  }
}

@media (max-width: 640px) {
  .wrapper header .logo .logo__img img {
    width: 45%;
    height: auto;
  }
}

.wrapper .allpage h2, .wrapper .allpage h3, .wrapper .allpage h4, .wrapper .allpage h5, .wrapper .allpage h6 {
  color: #004567;
}

.wrapper .allpage .page {
  width: 100%;
}

.wrapper .allpage .page.pageFirst {
  height: 900px;
  background: url(../img/theme_bg1_.png) center bottom no-repeat #9dbbcc;
  background-size: 100% auto;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageFirst {
    height: 1200px;
    background: url(../img/theme_bg1.png) center bottom no-repeat #9dbbcc;
    background-size: auto 1200px;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageFirst {
    height: 160vw;
    padding-bottom: 0;
    background-size: 100% auto;
  }
}

.wrapper .allpage .page.pageSecond {
  height: auto;
  background: #004567;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageThird {
  height: 1740px;
  background: url(../img/theme_bg3_.png) center bottom no-repeat #9dbbcc;
  background-size: 100% auto;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageThird {
    height: 1740px;
    background: url(../img/theme_bg3.png) center bottom no-repeat #9dbbcc;
    background-size: auto 600px;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageThird {
    height: 0;
    padding-bottom: 240%;
    background-size: 100% auto;
  }
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageThird {
    padding-bottom: 260%;
    background-size: 100% auto;
  }
}

@media (max-width: 360px) {
  .wrapper .allpage .page.pageThird {
    padding-bottom: 275%;
  }
}

.wrapper .allpage .page.pageFourth {
  height: auto;
  background: #004567;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageFifth {
  height: auto;
  background: #e5e5e5;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageSixth {
  height: auto;
  background: #004567;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageSeventh {
  height: 1300px;
  background: url(../img/theme_bg7_.png) center bottom no-repeat #0077c1;
  background-size: 100% auto;
}

@media (max-width: 1640px) {
  .wrapper .allpage .page.pageSeventh {
    height: 1150px;
  }
}

@media (max-width: 1440px) {
  .wrapper .allpage .page.pageSeventh {
    background-size: auto 1200px;
  }
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageSeventh {
    height: 1300px;
    background: url(../img/theme_bg7.png) center bottom no-repeat #0077c1;
    background-size: auto 1300px;
  }
}

@media (max-width: 800px) {
  .wrapper .allpage .page.pageSeventh {
    height: 1100px;
    background-size: 100% auto;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSeventh {
    height: 0;
    padding-bottom: 166%;
    background-size: 100% auto;
  }
}

.wrapper .allpage .page.pageEighth {
  height: 1080px;
  background: url(../img/theme_bg8_.png) left bottom no-repeat #9dbbcc;
  background-size: auto 1080px;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageEighth {
    height: 1740px;
    background: url(../img/theme_bg8.png) center bottom no-repeat #9dbbcc;
    background-size: auto 1740px;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageEighth {
    height: 0;
    padding-bottom: 166%;
    background-size: 100% auto;
  }
}

.wrapper .allpage .page.pageNinth {
  height: 1300px;
  background: url(../img/theme_bg9_.png) right bottom no-repeat #006ea5;
  background-size: auto 1140px;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageNinth {
    height: 2080px;
    background: url(../img/theme_bg9.png) center bottom no-repeat #006ea5;
    background-size: auto 2080px;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageNinth {
    height: 0;
    padding-bottom: 290%;
    background-size: 100% auto;
  }
}

.wrapper .allpage .page.pageTenth {
  height: auto;
  background: #004567;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageEleventh {
  height: auto;
  background: url(../img/theme_bg11_.png) center bottom no-repeat #b0cada;
  background-size: 100% auto;
  padding-bottom: 100px;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageEleventh {
    height: auto;
    background: url(../img/theme_bg11.png) center bottom no-repeat #b0cada;
    background-size: auto 1000px;
    background-size: 100% auto;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageEleventh {
    height: auto;
  }
}

.wrapper .allpage .page.pageTwelfth {
  height: 1120px;
  background: url(../img/img12-1.png) center bottom no-repeat #004567;
  background-size: auto 1080px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageTwelfth {
    height: 0;
    padding-bottom: 145%;
    background-size: 100% auto;
  }
}

.wrapper .allpage .page.pageThirteenth {
  height: auto;
  background: #bdbdc4;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageFourteenth {
  height: auto;
  background: #9dbbcc;
}

.wrapper .allpage .page.pageFifteenth {
  height: auto;
  background: #004567;
  padding-bottom: 50px;
}

.wrapper .allpage .page.pageSixteenth {
  height: auto;
  background: #b0cada;
}

.wrapper .allpage .page .page__content {
  position: relative;
  width: 100%;
  max-width: 1200px;
  margin: 0 auto;
}

@media (max-width: 768px) {
  .wrapper .allpage .page .page__content {
    max-width: 660px;
  }
}

.wrapper .allpage .page .page__content h3 {
  max-width: 90%;
  margin: 0 auto;
  font-size: 2.8rem;
  font-weight: 700;
  padding-top: 60px;
  letter-spacing: 1px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content h3 {
    font-size: 7.2vw;
    line-height: 10.4vw;
    padding-top: 12%;
  }
}

.wrapper .allpage .page .page__content h4 {
  max-width: 90%;
  margin: 0 auto;
  font-size: 2rem;
  padding-bottom: 3px;
  font-weight: 700;
  letter-spacing: 1px;
  margin-bottom: 50px;
  display: inline-block;
  border-bottom: 5px solid #004567;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content h4 {
    max-width: 80%;
    font-size: 5vw;
    border-width: 0.8vw;
    margin-bottom: 10%;
  }
}

.wrapper .allpage .page .page__content h5 {
  margin: 0 auto 20px;
  font-size: 1.6rem;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content h5 {
    font-size: 5vw;
    margin: 0 auto 3.2vw;
  }
}

.wrapper .allpage .page .page__content p {
  max-width: 90%;
  margin: 0 auto;
  font-size: 1.1rem;
  line-height: 2.2rem;
  margin-bottom: 40px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content p {
    max-width: 80%;
    font-size: 3vw;
    line-height: 5.6vw;
    margin-bottom: 12%;
  }
}

.wrapper .allpage .page .page__content ul {
  display: table;
  max-width: 660px;
  width: 90%;
  margin: 0 auto;
  position: relative;
}

.wrapper .allpage .page .page__content ul li {
  width: 48%;
  float: left;
  margin-bottom: 30px;
}

.wrapper .allpage .page .page__content ul li:nth-child(odd) {
  margin-right: 4%;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content ul li {
    margin-bottom: 7%;
  }
}

.wrapper .allpage .page .page__content ul li .desc {
  padding: 10px 5%;
  margin-top: 0;
  font-size: 1.2rem;
  line-height: 1.6rem;
  background-color: #ffffff;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content ul li .desc {
    font-size: 3vw;
    line-height: 4.5vw;
    padding: 5%;
  }
}

.wrapper .allpage .page .page__content ul li .intro {
  background-color: #708393;
  padding: 20px 5%;
  margin-bottom: 8px;
  font-size: 1.1rem;
  line-height: 1.6rem;
  color: #ffffff;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content ul li .intro {
    font-size: 3vw;
    line-height: 4vw;
    padding: 5%;
  }
}

.wrapper .allpage .page .page__content ul li .intro .item {
  color: #85a0b1;
  font-size: 1.3rem;
  font-weight: 700;
  margin-bottom: 3px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content ul li .intro .item {
    font-size: 3.8vw;
  }
}

.wrapper .allpage .page .page__content ul li .intro .character span {
  font-size: 1rem;
  padding: 0 15px;
  vertical-align: top;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content ul li .intro .character span {
    font-size: 2.6vw;
  }
}

@media (max-width: 480px) {
  .wrapper .allpage .page .page__content ul li .intro .character span {
    padding: 0 5%;
  }
}

.wrapper .allpage .page .page__content .photo {
  position: relative;
}

.wrapper .allpage .page .page__content .photo span {
  position: absolute;
  bottom: 10px;
  right: 10px;
  color: #ffffff;
  text-shadow: 0 0 5px rgba(0, 0, 0, 0.7);
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .photo span {
    font-size: 3vw;
  }
}

.wrapper .allpage .page .page__content .block {
  max-width: 80%;
  margin: 0 auto;
  padding-top: 60px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .block {
    padding-top: 12%;
  }
}

.wrapper .allpage .page .page__content .more {
  width: 120px;
  font-size: 1.2rem;
  line-height: 3rem;
  text-align: center;
  border-radius: 10px;
  background-color: #708393;
  color: #fff;
  margin: 10px auto 50px;
}

.wrapper .allpage .page .page__content .more:hover {
  cursor: pointer;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .more {
    font-size: 3vw;
    line-height: 7.6vw;
    margin-bottom: 4%;
  }
}

.wrapper .allpage .page .page__content iframe {
  width: 100%;
  height: 450px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content iframe {
    height: 70vw;
  }
}

.wrapper .allpage .page .page__content .popup_photo {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper .allpage .page .page__content .popup_photo .popup_img, .wrapper .allpage .page .page__content .popup_photo .outer {
  width: 90%;
  max-width: 800px;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper .allpage .page .page__content .popup_photo .outer {
  width: 70%;
  max-width: 540px;
  max-height: 1000px;
  background-color: #869faf;
  padding: 0 20px;
  height: 100%;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .popup_photo .outer {
    max-width: 480px;
    height: 0;
    padding-bottom: 140%;
  }
}

.wrapper .allpage .page .page__content .popup_photo .outer .item {
  width: 100%;
  max-width: 450px;
  margin: 30px auto 10px;
  overflow: hidden;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .popup_photo .outer .item {
    max-width: 360px;
  }
}

.wrapper .allpage .page .page__content .popup_photo .outer .item .inner {
  width: 100%;
}

.wrapper .allpage .page .page__content .popup_photo .outer .item .inner .photo {
  width: 100%;
  float: left;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .popup_photo .outer .item .inner .photo span {
    right: 8%;
  }
}

.wrapper .allpage .page .page__content .popup_photo .outer h5 {
  width: 100%;
  max-width: 450px;
  text-align: left;
  font-weight: bold;
  font-size: 1.3rem;
  line-height: 1.8rem;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .popup_photo .outer h5 {
    font-size: 5vw;
    margin: 0 auto 3.2vw;
  }
}

.wrapper .allpage .page .page__content .popup_photo .outer p {
  width: 100%;
  max-width: 450px;
  text-align: justify;
  font-size: 0.9rem;
  line-height: 1.6rem;
}

@media (max-width: 640px) {
  .wrapper .allpage .page .page__content .popup_photo .outer p {
    max-width: 100%;
    font-size: 3vw;
    line-height: 5.6vw;
    margin-bottom: 12%;
  }
}

.wrapper .allpage .page .page__content .popup_photo .outer p span {
  color: #004567;
  font-size: 1.2rem;
  font-weight: bold;
}

.wrapper .allpage .page .page__content .popup_photo .popup_close {
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  font-size: 20px;
}

.wrapper .allpage .page .page__content .popup_photo.is-acted {
  opacity: 1;
  visibility: visible;
}

.wrapper .allpage .page.pageSecond .page__content h3, .wrapper .allpage .page.pageSecond .page__content h4, .wrapper .allpage .page.pageSecond .page__content h5, .wrapper .allpage .page.pageSecond .page__content p, .wrapper .allpage .page.pageSecond .page__content ol, .wrapper .allpage .page.pageSecond .page__content ol li, .wrapper .allpage .page.pageFourth .page__content h3, .wrapper .allpage .page.pageFourth .page__content h4, .wrapper .allpage .page.pageFourth .page__content h5, .wrapper .allpage .page.pageFourth .page__content p, .wrapper .allpage .page.pageFourth .page__content ol, .wrapper .allpage .page.pageFourth .page__content ol li, .wrapper .allpage .page.pageSixth .page__content h3, .wrapper .allpage .page.pageSixth .page__content h4, .wrapper .allpage .page.pageSixth .page__content h5, .wrapper .allpage .page.pageSixth .page__content p, .wrapper .allpage .page.pageSixth .page__content ol, .wrapper .allpage .page.pageSixth .page__content ol li, .wrapper .allpage .page.pageSeventh .page__content h3, .wrapper .allpage .page.pageSeventh .page__content h4, .wrapper .allpage .page.pageSeventh .page__content h5, .wrapper .allpage .page.pageSeventh .page__content p, .wrapper .allpage .page.pageSeventh .page__content ol, .wrapper .allpage .page.pageSeventh .page__content ol li, .wrapper .allpage .page.pageNinth .page__content h3, .wrapper .allpage .page.pageNinth .page__content h4, .wrapper .allpage .page.pageNinth .page__content h5, .wrapper .allpage .page.pageNinth .page__content p, .wrapper .allpage .page.pageNinth .page__content ol, .wrapper .allpage .page.pageNinth .page__content ol li, .wrapper .allpage .page.pageTenth .page__content h3, .wrapper .allpage .page.pageTenth .page__content h4, .wrapper .allpage .page.pageTenth .page__content h5, .wrapper .allpage .page.pageTenth .page__content p, .wrapper .allpage .page.pageTenth .page__content ol, .wrapper .allpage .page.pageTenth .page__content ol li, .wrapper .allpage .page.pageTwelfth .page__content h3, .wrapper .allpage .page.pageTwelfth .page__content h4, .wrapper .allpage .page.pageTwelfth .page__content h5, .wrapper .allpage .page.pageTwelfth .page__content p, .wrapper .allpage .page.pageTwelfth .page__content ol, .wrapper .allpage .page.pageTwelfth .page__content ol li, .wrapper .allpage .page.pageFifteenth .page__content h3, .wrapper .allpage .page.pageFifteenth .page__content h4, .wrapper .allpage .page.pageFifteenth .page__content h5, .wrapper .allpage .page.pageFifteenth .page__content p, .wrapper .allpage .page.pageFifteenth .page__content ol, .wrapper .allpage .page.pageFifteenth .page__content ol li {
  color: #ffffff;
}

.wrapper .allpage .page.pageSecond .page__content h4, .wrapper .allpage .page.pageFourth .page__content h4, .wrapper .allpage .page.pageSixth .page__content h4, .wrapper .allpage .page.pageSeventh .page__content h4, .wrapper .allpage .page.pageNinth .page__content h4, .wrapper .allpage .page.pageTenth .page__content h4, .wrapper .allpage .page.pageTwelfth .page__content h4, .wrapper .allpage .page.pageFifteenth .page__content h4 {
  border-bottom: 5px solid #ffffff;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSecond .page__content h4, .wrapper .allpage .page.pageFourth .page__content h4, .wrapper .allpage .page.pageSixth .page__content h4, .wrapper .allpage .page.pageSeventh .page__content h4, .wrapper .allpage .page.pageNinth .page__content h4, .wrapper .allpage .page.pageTenth .page__content h4, .wrapper .allpage .page.pageTwelfth .page__content h4, .wrapper .allpage .page.pageFifteenth .page__content h4 {
    border-width: 0.8vw;
  }
}

.wrapper .allpage .page.pageThird .page__content ul, .wrapper .allpage .page.pageSixteenth .page__content ul {
  width: 80%;
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageThird .page__content ul, .wrapper .allpage .page.pageSixteenth .page__content ul {
    width: 90%;
  }
}

@media (max-width: 360px) {
  .wrapper .allpage .page.pageThird .page__content ul, .wrapper .allpage .page.pageSixteenth .page__content ul {
    width: 95%;
  }
}

.wrapper .allpage .page.pageThird .page__content ul li, .wrapper .allpage .page.pageSixteenth .page__content ul li {
  width: 28%;
  height: 0;
  padding-bottom: 28%;
  border-radius: 100%;
  display: inline-block;
  float: none;
  margin-right: calc(8% - 4px);
  background-color: #004567;
  position: relative;
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageThird .page__content ul li, .wrapper .allpage .page.pageSixteenth .page__content ul li {
    width: 30%;
    padding-bottom: 30%;
    margin-right: calc(5% - 4px);
  }
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageThird .page__content ul li, .wrapper .allpage .page.pageSixteenth .page__content ul li {
    width: 31%;
    padding-bottom: 31%;
    margin-right: calc(3.5% - 4px);
  }
}

.wrapper .allpage .page.pageThird .page__content ul li:nth-child(3n), .wrapper .allpage .page.pageSixteenth .page__content ul li:nth-child(3n) {
  margin-right: 0;
}

.wrapper .allpage .page.pageThird .page__content ul li img, .wrapper .allpage .page.pageSixteenth .page__content ul li img {
  width: 110%;
  position: absolute;
  top: -5%;
  left: -5%;
  z-index: 0;
  vertical-align: middle;
  border-radius: 10px;
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageThird .page__content ul li img, .wrapper .allpage .page.pageSixteenth .page__content ul li img {
    width: 104%;
    top: -2%;
    left: -2%;
  }
}

.wrapper .allpage .page.pageThird .page__content ul li p.desc, .wrapper .allpage .page.pageSixteenth .page__content ul li p.desc {
  position: absolute;
  z-index: 2;
  width: 80%;
  height: 50%;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  font-size: 1.2rem;
  line-height: 1.4rem;
  font-weight: 600;
  color: #ffffff;
  background-color: transparent;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageThird .page__content ul li p.desc, .wrapper .allpage .page.pageSixteenth .page__content ul li p.desc {
    font-size: 2.9vw;
    line-height: 3.5vw;
  }
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageThird .page__content ul li p.desc, .wrapper .allpage .page.pageSixteenth .page__content ul li p.desc {
    font-size: 3.5vw;
    line-height: 4.2vw;
    height: 40%;
  }
}

.wrapper .allpage .page.pageThird .page__content ul li p.desc span, .wrapper .allpage .page.pageSixteenth .page__content ul li p.desc span {
  font-size: 0.8rem;
  display: block;
  font-weight: 400;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageThird .page__content ul li p.desc span, .wrapper .allpage .page.pageSixteenth .page__content ul li p.desc span {
    font-size: 2vw;
  }
}

.wrapper .allpage .page.pageThird .page__content ul li:Last-child {
  margin-right: 0;
}

.wrapper .allpage .page.pageFifth img, .wrapper .allpage .page.pageEleventh img, .wrapper .allpage .page.pageTwelfth img, .wrapper .allpage .page.pageThirteenth img {
  width: 90%;
  margin: 0 auto;
}

.wrapper .allpage .page.pageFifth .page__content img {
  width: 98%;
  padding-top: 50px;
}

.wrapper .allpage .page.pageFifth .popup_photo {
  position: fixed;
  z-index: 30;
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.5);
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  visibility: hidden;
}

.wrapper .allpage .page.pageFifth .popup_photo .popup_img, .wrapper .allpage .page.pageFifth .popup_photo .outer {
  height: 100%;
  position: absolute;
  margin: auto;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
}

.wrapper .allpage .page.pageFifth .popup_photo .outer {
  height: 100%;
  background-color: #e5e5e5;
}

.wrapper .allpage .page.pageFifth .popup_photo .outer .item {
  height: 100%;
  overflow: hidden;
}

.wrapper .allpage .page.pageFifth .popup_photo .outer .item .inner {
  height: 100%;
}

.wrapper .allpage .page.pageFifth .popup_photo .outer .item .inner .photo {
  height: 100%;
}

.wrapper .allpage .page.pageFifth .popup_photo .outer .item .inner .photo img {
  width: auto;
  height: 100%;
  margin: 0 auto;
}

.wrapper .allpage .page.pageFifth .popup_photo .popup_close {
  position: absolute;
  color: #fff;
  width: 30px;
  height: 30px;
  top: 30px;
  right: 30px;
  font-size: 20px;
}

.wrapper .allpage .page.pageFifth .popup_photo.is-acted {
  opacity: 1;
  visibility: visible;
}

.wrapper .allpage .page.pageFifth .page__content, .wrapper .allpage .page.pageFourteenth .page__content {
  max-width: 1200px;
}

.wrapper .allpage .page.pageTenth .page__content ul li {
  margin-bottom: 20%;
}

.wrapper .allpage .page.pageEighth .page__content ul li:nth-child(3),
.wrapper .allpage .page.pageNinth .page__content ul li:nth-child(1) {
  width: 100%;
  margin-right: 0;
}

.wrapper .allpage .page.pageEighth .page__content ul {
  float: right;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageEighth .page__content ul {
    float: none;
  }
}

.wrapper .allpage .page.pageNinth .page__content ul {
  float: left;
}

@media (max-width: 1000px) {
  .wrapper .allpage .page.pageNinth .page__content ul {
    float: none;
  }
}

.wrapper .allpage .page.pageNinth .page__content ul li:nth-child(2) {
  margin-right: 4%;
}

.wrapper .allpage .page.pageNinth .page__content ul li:nth-child(3) {
  margin-right: 0;
}

.wrapper .allpage .page.pageTenth .page__content ul {
  width: 90%;
  max-width: 1000px;
}

@media (max-width: 900px) {
  .wrapper .allpage .page.pageTenth .page__content ul {
    width: 60%;
    max-width: 660px;
  }
}

.wrapper .allpage .page.pageTenth .page__content ul li {
  width: 30%;
  margin-right: 5%;
}

.wrapper .allpage .page.pageTenth .page__content ul li:nth-child(3n) {
  margin-right: 0;
}

@media (max-width: 900px) {
  .wrapper .allpage .page.pageTenth .page__content ul li {
    width: 100%;
    margin-right: 0;
  }
}

.wrapper .allpage .page.pageEleventh .page__content p {
  text-align: justify;
  margin-bottom: 10px;
}

.wrapper .allpage .page.pageEleventh .page__content ul {
  text-align: justify;
  max-width: 80%;
  list-style-type: square;
  padding-left: 50px;
}

.wrapper .allpage .page.pageEleventh .page__content ul li {
  width: calc(100% - 30px);
  text-align: left;
  font-size: 1.2rem;
  line-height: 2.2rem;
  padding-left: 10px;
  margin-bottom: 0;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageEleventh .page__content ul li {
    font-size: 3vw;
    line-height: 5.6vw;
  }
}

.wrapper .allpage .page.pageEleventh img {
  width: 80%;
  margin-top: 50px;
}

.wrapper .allpage .page.pageTwelfth img {
  width: 100%;
}

.wrapper .allpage .page.pageTwelfth .page__content .more {
  margin-top: 670px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageTwelfth .page__content .more {
    margin-top: 100%;
  }
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageTwelfth .page__content .more {
    margin-top: 80vw;
  }
}

.wrapper .allpage .page.pageTwelfth .page__content .popup_photo .outer .item .inner {
  width: 100%;
}

.wrapper .allpage .page.pageTwelfth .page__content .popup_photo .outer .item .inner .photo {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth img {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content {
  position: relative;
}

.wrapper .allpage .page.pageThirteenth .page__content h3 {
  width: 90%;
  max-width: 800px;
  margin-bottom: 30px;
}

.wrapper .allpage .page.pageThirteenth .page__content > img {
  width: 80%;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageThirteenth .page__content > img {
    width: 90%;
  }
}

.wrapper .allpage .page.pageThirteenth .page__content .a {
  width: 27%;
  height: 0;
  padding-bottom: 25%;
  display: block;
  position: absolute;
}

.wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(3) {
  top: 21%;
  left: 22.5%;
}

@media (max-width: 768px) {
  .wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(3) {
    top: 27%;
  }
}

.wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(4) {
  top: 21%;
  right: 22.5%;
}

@media (max-width: 768px) {
  .wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(4) {
    top: 27%;
  }
}

.wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(5) {
  top: 46%;
  left: 10%;
}

@media (max-width: 768px) {
  .wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(5) {
    top: 50%;
  }
}

.wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(6) {
  top: 46%;
  right: 10%;
}

@media (max-width: 768px) {
  .wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(6) {
    top: 50%;
  }
}

.wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(7) {
  top: 71%;
  left: 22.5%;
}

.wrapper .allpage .page.pageThirteenth .page__content .a:nth-child(8) {
  top: 71%;
  right: 22.5%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_5 .outer .item .inner {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_5 .outer .item .inner .photo {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_6 .outer .item .inner,
.wrapper .allpage .page.pageThirteenth .page__content .popup_info_8 .outer .item .inner {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_6 .outer .item .inner .photo,
.wrapper .allpage .page.pageThirteenth .page__content .popup_info_8 .outer .item .inner .photo {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_7 .outer .item .inner,
.wrapper .allpage .page.pageThirteenth .page__content .popup_info_9 .outer .item .inner {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_7 .outer .item .inner .photo,
.wrapper .allpage .page.pageThirteenth .page__content .popup_info_9 .outer .item .inner .photo {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_10 .outer .item .inner {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_info_10 .outer .item .inner .photo {
  width: 100%;
}

.wrapper .allpage .page.pageThirteenth .page__content .popup_photo .outer p {
  color: #ffffff;
}

.wrapper .allpage .page.pageFourteenth .page__content {
  max-width: 100%;
}

.wrapper .allpage .page.pageFourteenth .page__content iframe {
  margin-bottom: -4px;
}

.wrapper .allpage .page.pageFifteenth .page__content .logo {
  width: 40%;
  margin: 0 auto;
  padding: 60px 0;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageFifteenth .page__content .logo {
    padding: 12% 0;
  }
}

.wrapper .allpage .page.pageFifteenth .page__content ol {
  width: 70%;
  margin: 0 auto;
  display: table;
}

@media (max-width: 440px) {
  .wrapper .allpage .page.pageFifteenth .page__content ol {
    width: 82%;
  }
}

.wrapper .allpage .page.pageFifteenth .page__content ol li {
  width: calc( 100% - 88px);
  float: left;
  font-size: 1.1rem;
  line-height: 2.6rem;
  text-align: left;
  border-bottom: 1px solid #fff;
  vertical-align: top;
}

.wrapper .allpage .page.pageFifteenth .page__content ol li:nth-child(odd) {
  width: 88px;
}

.wrapper .allpage .page.pageFifteenth .page__content ol li:nth-child(1), .wrapper .allpage .page.pageFifteenth .page__content ol li:nth-child(2) {
  border-top: 1px solid #fff;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageFifteenth .page__content ol li {
    font-size: 2.75vw;
    line-height: 6.5vw;
    width: calc( 100% - 14vw);
    float: none;
    display: inline-block;
  }
  .wrapper .allpage .page.pageFifteenth .page__content ol li:nth-child(odd) {
    width: 14vw;
  }
}

@media (max-width: 440px) {
  .wrapper .allpage .page.pageFifteenth .page__content ol li {
    width: calc( 100% - 20vw);
  }
  .wrapper .allpage .page.pageFifteenth .page__content ol li:nth-child(odd) {
    width: 20vw;
  }
}

.wrapper .allpage .page.pageSixteenth .page__content {
  width: 60%;
  max-width: 600px;
  margin: 0 auto;
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageSixteenth .page__content {
    width: 80%;
  }
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageSixteenth .page__content ul {
    width: 70%;
  }
  .wrapper .allpage .page.pageSixteenth .page__content ul li {
    margin-right: calc(5% - 4px);
  }
  .wrapper .allpage .page.pageSixteenth .page__content ul li:nth-child(3) {
    margin-right: 0%;
  }
}

.wrapper .allpage .page.pageSixteenth h5 {
  padding-top: 60px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSixteenth h5 {
    padding-top: 12%;
  }
}

.wrapper .allpage .page.pageSixteenth .information {
  width: 100%;
}

.wrapper .allpage .page.pageSixteenth input[type="text"] {
  width: 80%;
  height: 36px;
  margin-bottom: 10px;
  border-radius: 10px;
  border: 0;
  outline: 0;
  padding: 3px 10px;
}

.wrapper .allpage .page.pageSixteenth p {
  width: 80%;
  text-align: left;
  margin-bottom: 0;
}

@media (max-width: 480px) {
  .wrapper .allpage .page.pageSixteenth p {
    width: 100%;
  }
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check {
  width: 80%;
  margin: 0 auto;
  text-align: center;
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check input[type="checkbox"] {
  visibility: hidden;
  display: none;
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label {
  display: inline-block;
  height: 30px;
  font-size: 1rem;
  text-align: left;
  position: relative;
  padding: 0 0 0 30px;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label {
    font-size: 2.4vw;
  }
}

@media (max-width: 400px) {
  .wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label {
    height: 10vw;
  }
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label:before {
  content: "";
  display: inline-block;
  width: 16px;
  height: 16px;
  position: absolute;
  top: 7px;
  left: 0;
  border-width: 2px;
  border-style: solid;
  border-color: #004567;
  margin: 0 10px 10px 0;
  background-color: rgba(255, 255, 255, 0.7);
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label:before {
    width: 2.5vw;
    height: 2.5vw;
  }
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label:after {
  content: "";
  display: inline-block;
  width: 20px;
  height: 20px;
  position: absolute;
  left: 5px;
  top: 5px;
  z-index: 1;
  background: url(../img/check.svg) center center no-repeat;
  background-size: 20px auto;
  opacity: 0;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check label:after {
    width: 3.2vw;
    height: 3.2vw;
    background-size: 3.2vw auto;
  }
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__check input:checked ~ label:after {
  opacity: 1;
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__btn {
  width: 200px;
  height: 150px;
  margin: 60px auto 0;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__btn {
    width: 31.2vw;
    margin: 12% auto 0;
  }
}

.wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__btn button {
  width: 100%;
  height: 50px;
  line-height: 50px;
  border-radius: 10px;
  font-size: 1.2rem;
  padding: 0 6px;
  color: #ffffff;
  background-color: #004567;
  vertical-align: middle;
  -webkit-box-shadow: 0;
          box-shadow: 0;
  border: 0;
}

@media (max-width: 640px) {
  .wrapper .allpage .page.pageSixteenth .contact__data__cta .contact__data__btn button {
    font-size: 3vw;
  }
}

.wrapper .popup {
  width: 300px;
  height: 100px;
  line-height: 50px;
  text-align: center;
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  margin: auto;
  background-color: #fff;
  padding: 0 10px;
  z-index: 20;
  -webkit-box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
          box-shadow: 0 5px 10px rgba(0, 0, 0, 0.5);
  font-size: 14px;
  display: none;
}

.wrapper .popup .close {
  width: 50px;
  height: 30px;
  line-height: 30px;
  font-size: 14px;
  border-width: 1px;
  border-style: solid;
  border-color: #bbb;
  margin: 0 auto;
  float: none;
}

.wrapper .popup .close:hover {
  cursor: pointer;
}

.wrapper .popup.is-acted {
  display: block;
}

.fp-viewing-01 .wrapper #actions a#moveSectionUp {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

.fp-viewing-01 .wrapper #actions a#moveSectionUp:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

.fp-viewing-09 .wrapper #actions a#moveSectionDown {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

.fp-viewing-09 .wrapper #actions a#moveSectionDown:hover {
  background: rgba(255, 255, 255, 0.7);
  color: #000;
  opacity: .3;
}

#fp-nav {
  top: 20%;
}

#fp-nav ul li {
  width: 16px;
  height: 16px;
  margin: 5px;
}

#fp-nav ul li a.active span {
  width: 16px;
  height: 16px;
  background-color: transparent;
  margin: -10px 0 0 -8px;
}

#fp-nav ul li a.active span.fp-sr-only {
  opacity: 1;
  width: 18px;
  height: 18px;
  color: #000;
  clip: auto;
  font-size: 13px;
}

#fp-nav ul li .fp-tooltip {
  display: none;
}

#fp-nav ul li:hover a.active span {
  margin: -10px 0 0 -8px;
}

.fp-viewing-09 .wrapper header .logo {
  width: auto;
  float: right;
}

@media (max-width: 575px) {
  .fp-viewing-09 .wrapper header {
    display: none;
  }
}

@-webkit-keyframes photo1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@keyframes photo1 {
  0% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  100% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
}

@-webkit-keyframes photo2 {
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  41% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  81% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes photo2 {
  40% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  41% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  80% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  81% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes photo3 {
  30% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  31% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  60% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  61% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  90% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  91% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes photo3 {
  30% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  31% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  60% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  61% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  90% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  91% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes photo4 {
  22% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  23% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  44% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  45% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  66% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  67% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  88% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  89% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes photo4 {
  22% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  23% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  44% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  45% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  66% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  67% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  88% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  89% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes photo5 {
  18% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  19% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  36% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  37% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  54% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  55% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  72% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  73% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  90% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  91% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes photo5 {
  18% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  19% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  36% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  37% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  54% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  55% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  72% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  73% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  90% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  91% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@-webkit-keyframes photo6 {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  16% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  30% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  31% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  45% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  46% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  60% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  61% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  75% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  76% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  90% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  91% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

@keyframes photo6 {
  15% {
    -webkit-transform: translateX(0);
            transform: translateX(0);
  }
  16% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  30% {
    -webkit-transform: translateX(-100%);
            transform: translateX(-100%);
  }
  31% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  45% {
    -webkit-transform: translateX(-200%);
            transform: translateX(-200%);
  }
  46% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  60% {
    -webkit-transform: translateX(-300%);
            transform: translateX(-300%);
  }
  61% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  75% {
    -webkit-transform: translateX(-400%);
            transform: translateX(-400%);
  }
  76% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  90% {
    -webkit-transform: translateX(-500%);
            transform: translateX(-500%);
  }
  91% {
    -webkit-transform: translateX(0%);
            transform: translateX(0%);
  }
}

.wrapper .allpage .page .page__content ul.slick-dots li {
  width: 10px;
  height: 10px;
  float: none;
  margin-right: 10px;
}

.wrapper .allpage .page .page__content ul.slick-dots li:nth-child(odd) {
  margin-right: 10px;
}

.wrapper .allpage .page .page__content ul.slick-dots li button:before {
  font-size: 60px;
}
/*# sourceMappingURL=style.css.map */